.lang-button {
    display: flex;
    flex-direction: column;
    position: relative;
    .button {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }

    .lang-list {
        position: absolute;
        list-style: none;
        border: solid;
        width: max-content;
        margin-left: auto;
        right: 0;
        top: 50px;
    }
}
