@import '../../../utils/variables.scss';

.project-section {
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        gap: 30px;
        grid-auto-rows: minmax(170px, auto);
        grid-auto-columns: minmax(100px, auto);

        .grid-section {
            border-radius: 20px;
            background-size: cover;
            position: relative;
            transition:
                bottom 0.3s,
                box-shadow 0.3s;
            bottom: 0;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

            .image-gallery {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .image-gallery-content {
                    align-self: center;
                    width: 100%;
                    height: 100%;
                    display: block;
                    //border: solid 20px green;
                    display: flex;
                    flex-direction: column;
                    //justify-content: center;
                }
                .image-gallery-content:not(.fullscreen) {
                    height: 100%;
                    border-radius: 20px 20px 0 0;
                    //max-height: 360px;
                    overflow: hidden;
                    .image-gallery-slide-wrapper {
                        overflow: hidden;
                    }

                    .image-gallery-thumbnails-wrapper {
                        //height: 20%;
                        border-radius: 0 0 20px 20px;
                        overflow: hidden;

                        .image-gallery-thumbnails,
                        .image-gallery-thumbnails-container {
                            padding: 0;
                            height: 70px;

                            button,
                            span,
                            img {
                                height: 100%;
                                margin: 0;
                            }

                            button {
                                &:not(.active) {
                                    opacity: 0.5;
                                }
                            }

                            .image-gallery-thumbnail-image {
                                object-fit: cover;
                            }
                        }
                    }
                    .image-gallery-image {
                        height: 300px;
                        object-fit: cover;
                    }
                }
            }

            &:nth-of-type(1) {
                .back-wrapper {
                    background-color: white;
                    border-right: solid 10px;
                    border-bottom: solid 10px;
                    border-color: white;
                    width: 50px;
                    height: 50px;
                    border-radius: 0 0 20px 0;
                    position: absolute;
                    z-index: 2;
                    &::after {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background-color: transparent;
                        display: block;
                        position: absolute;
                        right: -30px;
                        top: 0;
                        border-radius: 50%;
                        box-shadow: -10px -10px 0 white;
                    }

                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background-color: transparent;
                        display: block;
                        position: absolute;
                        left: 0px;
                        top: 50px;
                        border-radius: 50%;
                        box-shadow: -10px -10px 0 white;
                    }

                    .back-button {
                        width: 40px !important;
                        height: 40px !important;
                        min-width: unset;
                        display: flex;
                        align-items: center;
                        border-radius: 12px;
                        transition:
                            background-color 0.5s,
                            scale 0.5s;
                        cursor: pointer;

                        svg {
                            margin: auto;
                            transition: filter 0.5s;
                        }

                        &.active {
                            background-color: $brand-color-secondary;
                            svg {
                                filter: invert(99%) sepia(50%) saturate(2%)
                                    hue-rotate(199deg) brightness(110%)
                                    contrast(101%);
                            }
                        }

                        &:hover {
                            &:not(.active) {
                                background-color: $grey-100;
                            }
                        }

                        &:active {
                            scale: 0.9;
                        }
                    }
                    .back {
                        background-color: black;
                        width: 40px;
                        height: 40px;
                        border-radius: 12px;
                    }
                }
                background-color: rgb(197, 197, 197);
                grid-column: 1 / 3;
                grid-row: 1/3;
            }
            &:nth-of-type(2) {
                grid-column: 3/5;
                grid-row: 1/3;
                display: flex;
                flex-direction: column;
                .name-wrapper {
                    display: flex;
                    margin-bottom: 20px;

                    h1 {
                        font-family: 'Lost Days';
                        font-weight: unset;
                        font-size: 60px;
                        width: min-content;
                        .brand-color {
                            color: $brand-color;
                        }
                    }
                    .arrow {
                        content: ' ';
                        background-image: url('../../../assets/images/abstract/arrow.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: relative;
                        left: 20px;
                        top: 10px;
                        width: 80px;
                        //height: calc(auto - 20px);
                    }
                }

                .show-more-text-container {
                    flex: 1;
                    .show-more-less-clickable {
                        font-weight: 800;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                .bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .tool-list-container {
                        height: max-content;
                        h5 {
                            font-size: 20px;
                            font-family: 'Lost days';
                            font-weight: unset;
                            margin-bottom: 5px;
                        }
                    }
                    .link-container {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }
                }
            }

            &:nth-of-type(3) {
                background-color: #43fabd72;
                grid-column: 1;
                grid-row: 3;
            }

            &:nth-of-type(4) {
                background-color: #ececec;
                .front-image {
                    max-height: 170px;
                }
            }

            &:nth-of-type(5) {
                background-color: #b8ffe7;
            }
            &:nth-of-type(6) {
                background-color: #b8ffe7;
            }
        }
    }
}

@media (max-width: $md-breakpoint) {
    .project-section {
        .grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            gap: 20px;
            grid-auto-rows: minmax(160px, auto);
            grid-auto-columns: minmax(140px, auto);

            .grid-section {
                border-radius: 15px;

                &:nth-of-type(1) {
                    grid-column: 1/3;
                    grid-row: 1/3;
                }
                &:nth-of-type(2) {
                    grid-column: 1/3;
                    grid-row: 3/5;

                    .show-more-text-container {
                        margin-bottom: 20px;
                    }

                    .show-more-text-container {
                        flex: unset;
                    }
                }

                &:nth-of-type(3) {
                    grid-column: 1/2;
                    grid-row: 5/6;
                }

                &:nth-of-type(4) {
                    grid-column: 2/3;
                    grid-row: 5/6;
                }

                &:nth-of-type(5) {
                }
            }
        }
    }
}
