@import "../../variables.scss";

.side-menu {
    .menu-icon {
        cursor: pointer;
        z-index: 12;
        transition: scale 0.5s, color 0.5s;
        &:hover {
            color: $grey-400;
        }
        &:active {
            scale: 0.9;
        }
    }

    .menu {
        position: fixed;
        width: 300px;
        z-index: 11;
        background-color: pink;
        height: 100vh;
        padding: 50px;
        top: 0;
        transition: right 0.5s;

        &.closed {
            right: -300px;
        }
        &.open {
            right: 0px;
        }
    }
    .side-menu-bg {
        background-color: rgba(0, 0, 0, 0.314);
        width: 100vw;
        height: 100vh;
        position: fixed;
        user-select: none;
        top: 0;
        left: 0;
        z-index: 10;
    }
}
// body {
//     &:has(.open) {
//         overflow: hidden;
//         background-color: green;
//     }
// }

.svg-inline--fa {
    height: unset !important;
}
