@import "../../utils/variables.scss";

[aria-labelledby="modal-modal-title"] {
    display: flex;
    align-items: center;
}
.modal-description {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 15px 20px 20px 20px;
    border-radius: 20px;

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;

        h3 {
            font-size: 24px;
        }
        .close-button {
            min-width: unset;
            width: 40px;
            height: 40px;
        }
    }
    .content {
        overflow: scroll;
        max-height: 300px;
        padding: 20px 0;
        border-top: solid 2px $grey-100;
        border-bottom: solid 2px $grey-100;
    }
    .modal-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

        .link-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media (max-width: $sm-breakpoint) {
    .modal-description {
        .header-modal {
            h3 {
                font-size: 20px;
            }
        }
        max-width: 80vw;
    }
}
