@import "../../variables.scss";

.hero-section {
    padding: 50px 60px;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .text-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-size: 30px;
        }
        .title {
            font-size: 70px;
            font-family: "Lost Days";

            .brand {
                color: $brand-color;
            }
        }
        p {
            font-size: 18px;
            max-width: 400px;
        }
        .buttons-container {
            display: flex;
            gap: 20px;
        }
    }
}
