@import "../../variables.scss";

.button {
    padding: 12px 20px;
    border-radius: 50px;
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 800;
    border: none;
    transition: 0.3s scale;
    cursor: pointer;

    &:active {
        scale: 0.9;
    }

    &.filled {
        background-color: $grey-900;
        color: white;
    }

    &.outlined {
        border-color: $grey-900;
        border: 2px solid;

        background-color: white;
    }
}
