@import "../../utils/variables.scss";

.experience-section {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: 570px;
    gap: 30px;
    grid-auto-rows: minmax(170px, auto);
    grid-auto-columns: minmax(100px, auto);
    justify-content: space-between;

    .visit-card {
        grid-column: 1/3;
        grid-row: 1;
        height: 100%;

        flex-wrap: unset;
    }
    .education-container {
        grid-column: 1/3;
        grid-row: 2/4;
        height: 100%;
    }
    .experience-container {
        grid-column: 3/5;
        grid-row: 1/3;
        height: 100%;
    }
    .education-container,
    .experience-container {
        .list-container {
            height: calc(100% - 20px - 10px);
            max-height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        h3 {
            font-family: "Lost Days";
            height: 20px;
            font-weight: unset;
            margin-bottom: 20px;
        }
    }
    .resume-card {
        height: 100%;
        grid-column: 3/5;
        grid-row: 3/4;
    }
}

@media (max-width: 870px) {
}

@media (max-width: $md-breakpoint) {
    .experience-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;

        .visit-card {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;

            img {
                height: 150px;
                width: fit-content;
                margin: auto;
            }

            .info-card {
                text-align: center;
                a {
                    width: max-content;
                    margin: auto;
                }
            }
        }
        .resume-card {
            display: flex;
            flex-direction: column;
        }

        .list-container {
            max-height: unset;
            gap: 10px;
            .experience-details {
                align-items: center;
                border-bottom: solid $grey-100;
                padding-bottom: 10px;
                &:last-of-type {
                    border-bottom: none;
                }
                .image-container {
                    width: 60px;
                    height: 60px;
                }
                h3 {
                    font-size: 12px;
                }
                h5 {
                    font-size: 14px;
                }
            }
        }

        .education-container {
            grid-column: 1;
            grid-row: 2;
            height: 100%;
            padding-bottom: 30px;
        }
        .experience-container {
            grid-column: 1;
            grid-row: 3;
        }

        .resume-card {
            height: 100%;
            grid-column: 1;
            grid-row: 4;
            align-items: center;
            text-align: center;
        }
    }
}
