@import '../../utils/variables.scss';

.skills-section {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: 570px;
    gap: 30px;
    grid-auto-rows: minmax(170px, auto);
    grid-auto-columns: minmax(100px, auto);
    justify-content: space-between;

    .dev-container {
        background-color: $grey-100;
        grid-column: 1/3;
        grid-row: 1/4;
        height: 100%;
        border-radius: 20px;
        .tool-container {
            flex-wrap: wrap;
        }
    }

    .design-container {
        background-color: $grey-100;
        grid-column: 3/6;
        grid-row: 1;
        height: 100%;
        border-radius: 20px;
    }

    .illustration-container {
        background-color: $grey-100;
        grid-column: 3/6;
        grid-row: 2;
        height: 100%;
        border-radius: 20px;
    }

    .language-container {
        background-color: $grey-100;
        grid-column: 3/6;
        grid-row: 3;
        height: 100%;
        border-radius: 20px;
    }
}
