@import '../../utils/variables.scss';

.skills-section {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: 570px;
    gap: 30px;
    grid-auto-rows: minmax(170px, auto);
    grid-auto-columns: minmax(100px, auto);
    justify-content: space-between;

    .container {
        background-color: $grey-100;
        border-radius: 20px;
        height: 100%;
        padding: 20;
        h2 {
            font-family: 'Lost days';
            font-weight: unset;
            margin-bottom: 20px;
        }

        .tool-container {
            flex-wrap: wrap;
            gap: 12px;
        }
    }

    .dev-container {
        grid-column: 1/3;
        grid-row: 1/4;
    }

    .design-container {
        grid-column: 3/6;
        grid-row: 1;
    }

    .illustration-container {
        grid-column: 3/6;
        grid-row: 2;
    }

    .language-container {
        grid-column: 3/6;
        grid-row: 3;
    }
}
