@font-face {
    font-family: "Lost Days";
    src: url("../assets/fonts/lost-days.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/nunito.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 50px;
    font-family: "Nunito";
}
