@import "../utils/variables.scss";

@font-face {
    font-family: "Lost Days";
    src: url("../assets/fonts/lost-days.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/nunito.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 20px 50px;
    font-family: "Nunito";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section {
    margin: auto;
    max-width: 800px;
    min-height: 400px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: $sm-breakpoint) {
    body {
        padding: 20px;
    }
}

.page-body {
    margin-top: 20px;

    &:has(> .about-me-section) {
        flex: 1;
        display: flex;
        align-items: center;
    }
}
::view-transition-old(page-body),
::view-transition-new(page-body) {
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
}

::view-transition-old(page-body) {
    animation-name: slide-out;
}

::view-transition-new(page-body) {
    animation-name: slide-in;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(800px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-800px);
    }
}
