@import "../../utils/variables.scss";

.navbar-content {
    height: 50px;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    z-index: 10;

    &.slideup {
        animation-name: slideUp;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 50px * 2);
    position: fixed;
    .links-container {
        display: flex;
        gap: 20px;
        align-items: center;

        a {
            color: $grey-300;
            transition: 0.5s color, 0.5s scale;

            &:active {
                scale: 0.9;
            }
            &:hover {
                color: $grey-800;
            }
        }
    }
}

.bottom-navbar {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 8px 12px;
    border-radius: 14px;
    transition: bottom 1s, opacity 1s;
    box-shadow: 0px 5px 15px -8px #000000cb;

    &.slideup {
        bottom: 10px;
        opacity: 1;
    }

    .nav-button {
        width: 34px !important;
        height: 34px !important;
        min-width: unset;
        display: flex;
        align-items: center;
        border-radius: 5px;
        transition: background-color 0.5s, scale 0.5s;
        cursor: pointer;
        svg {
            margin: auto;
            transition: filter 0.5s;
        }

        &:hover {
            background-color: $brand-color-secondary;
            //background-color: $grey-800;
            svg {
                filter: invert(99%) sepia(50%) saturate(2%) hue-rotate(199deg)
                    brightness(110%) contrast(101%);
            }
        }

        &:active {
            scale: 0.9;
        }
    }
}

.side-menu {
    display: none;
}

@keyframes slideUp {
    0% {
        top: 0;
    }

    100% {
        top: -100px;
    }
}

@keyframes slideUpBottom {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: $md-breakpoint) {
    .navbar {
        .links-container {
            display: none;
        }
    }

    .side-menu {
        display: flex;
    }
}

@media (max-width: $sm-breakpoint) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 20px * 2);
    }
}
