@import "../../utils/variables.scss";

.navbar-content {
    height: 50px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 50px * 2);
    position: fixed;
    .links-container {
        display: flex;
        gap: 20px;
        align-items: center;

        a {
            color: $grey-300;
            transition: 0.5s color, 0.5s font-weight;
            transition: scale 0.5s;

            &:active {
                scale: 0.9;
            }
            &:hover {
                color: $grey-800;
                font-weight: bold;
            }
        }
    }
}

.side-menu {
    display: none;
}

@media (max-width: $md-breakpoint) {
    .navbar {
        .links-container {
            display: none;
        }
    }

    .side-menu {
        display: flex;
    }
}

@media (max-width: $sm-breakpoint) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 20px * 2);
    }
}
