@import "../../variables.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .links-container {
        display: flex;
        gap: 20px;
        align-items: center;

        a {
            color: $grey-300;
            transition: 0.5s color, 0.5s font-weight;
            &:hover {
                color: $grey-800;
                font-weight: bold;
            }
        }
    }
}

.side-menu {
    display: none;
}

@media (max-width: $md-breakpoint) {
    .navbar {
        .links-container {
            display: none;
        }
    }

    .side-menu {
        display: block;
    }
}
