$grey-50: #f1f1f1;
$grey-100: #ebebeb;
$grey-200: #bababa;
$grey-300: #aeaeae;
$grey-400: #757575;
$grey-800: #353535;
$grey-900: #272727;

$brand-color: #ff8bda;
$brand-color-secondary: #6146ff;

$sm-breakpoint: 480px;
$md-breakpoint: 768px;
$lg-breakpoint: 900px;

$linkedin-brand: #0470ad;
