@import "../../utils/variables.scss";

.tool {
    display: flex;
    align-items: center;
    height: max-content;
    gap: 10px;

    .link {
        margin-left: auto;
    }
}
.icon-container {
    overflow: hidden;
    width: 36px;
    height: 36px;
    background-color: white;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: scale 0.3s;

    img {
        margin: auto;
    }

    &:active {
        scale: 90%;
    }

    &.plus {
        background-color: $grey-300;
        color: white;
        cursor: pointer;
        span {
            font-weight: 800;
            font-size: 20px;
            text-align: center;
            width: 100%;
            user-select: none;
        }
    }
}
//}

.tool-container {
    display: flex;
    gap: 6px;
}
