@import "../../utils/variables.scss";

.project-bloc {
    border-radius: 20px;
    background-color: $grey-100;
    img {
        max-height: 200px;
    }

    &[aria-labelledby="cookish-master"] {
        background-color: #a0b3ff;
    }

    &[aria-labelledby="music-library"] {
        background-color: #43fabd72;
    }

    &[aria-labelledby="design-system"] {
        background-color: #b8ffe7;
    }

    &[aria-labelledby="3d-modeling"] {
        background-color: #ffff5e;
    }

    animation-name: slide-in;
    animation-duration: 0.7s;
    position: relative;
}

@keyframes slide-in {
    0% {
        right: -200px;
    }

    100% {
        right: 0;
    }
}
