@import '../../../utils/variables.scss';

.stack-section {
    margin-top: 100px;
    background-color: white;
    border-radius: 20px;
    height: 400px;

    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }
}
