@import "../../utils/variables.scss";

.competence-box {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    p {
        font-size: 18;
    }

    .tools-container {
        display: flex;
        align-items: flex-end;
        flex: 1;
        gap: 6px;
    }

    .hidden-items {
        background-color: $grey-900;
        color: white;
        font-weight: bold;
        text-align: center;
        width: 36px;
        height: 36px;
        border-radius: 10px;
        line-height: 36px;
        cursor: pointer;
        transition: 0.3s scale;

        &:active {
            scale: 0.9;
        }
    }
}
